fastapi
uvicorn[standard]
python-dotenv
pymongo
pydantic[email]
bcrypt
pyjwt
scikit-learn
python-multipart
# PDF extraction libraries
pdfplumber
PyPDF2
# Optional: for LLM enhancement
langchain
langchain-groq